fieldset
{
	margin-bottom: 20px;
}


legend
{	
	color: white;
	margin-bottom: 20px;
	font: 600 2.2em 'Josefin Slab', sans-serif;
}


input
{	
	color:#283c4f;
	width: 300px;
	height: 30px;
	border: 0px;
	padding-left: 10px;
	background: #ccc; /* Fall-back for browsers that don't support rgba */
	background: rgba(255, 255, 255, .3);
}

input[type=radio]
{
	width: 14px;
	height: 14px;
}

select
{
	color:#283c4f;
	height:25px;
	border: 0px;
	padding-left: 10px;
	background: #ccc; /* Fall-back for browsers that don't support rgba */
	background: rgba(255, 255, 255, .3);	
}

.required
{
	color:#283c4f;
	border: 0px;
	padding-left: 10px;
	background: #ccc; /* Fall-back for browsers that don't support rgba */
	background: rgba(255, 255, 255, .3);
	border-left: 3px solid #335177;
}

.button
{
	color: #ffffff;
	width: 100px;
	border: 0;
	background-color: #335177;	
	text-align: center;
	cursor: pointer;
	padding: 0px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}

.button:hover
{
	background-color: #283c4f;;
}

.opcao
{
	line-height: 1.4em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);	
}

.opcao :hover
{
	background-color: rgba(255, 255, 255, 0.5);	
}

.opcao label
{
  display: block;
}
